<footer  id="colophon" class="site-footer">
  <div  class="top-footer" style="padding: 20px 0;">
    <div  class="container">
      <div  class="row">
        <div  class="col-md-3"><a  href="/"><img  width="80px" height="80px" style="margin-left: 60px;"
              src="assets/logo/logo.png" alt="logo" class="img-responsive"></a></div>
        <div  class="col-md-3">
          <ul >
            <li  class="list-footer"><a  href="/quienessomos/"
                class="text-white"> QUIENES SOMOS</a></li>
            <li  class="list-footer"><a  href="/puntosventa/"
                class="text-white"> PROMOCIONATE</a></li>
          </ul>
        </div>
        <div  class="col-md-3">
          <ul >
            <li  class="list-footer"><a  href="/terminosycondiciones/"
                class="text-white"> TERMINOS Y CONDICIONES</a></li>
            <li  class="list-footer"><a  class="text-white"
                style="cursor: pointer;"> REGISTRATE </a></li>
          </ul>
        </div>
        <div  class="col-md-3">
          <ul >
            <li  class="list-footer"><a  href="/contactenos/"
                class="text-white"> CONTÁCTANOS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div  class="main-footer" style="padding: 10px 0; border-bottom: 0px;">
    <div  class="container">
      <div  class="row">
        <div  class="container">
          <div  class="col-sm-12 row-flex">
            <a href="https://www.facebook.com/TicketShowFanPage"
              style="font-size: 40px; color: white; padding-right: 15px;"><i 
                class="fa-brands fa-facebook"></i></a>
                
                <a  href="https://www.twitter.com/ticketshow"
              style="font-size: 40px; color: white; padding-right: 15px;"><i 
                class="fa-brands fa-x-twitter"></i></a>
                
                <a href="https://www.instagram.com/ticketshow/?hl=es-la"
              style="font-size: 40px; color: white; padding-right: 15px;"><i 
                class="fa-brands fa-instagram"></i></a>
                
                <a href="/nosotros" style="font-size: 40px; color: white; padding-right: 15px;"><i 
                class="fa fa-envelope"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  <div  class="main-footer" style="padding: 10px 0;">
    <div  class="container">
      <div  class="row">
        <div  class="container">
          <div  class="col-md-12 copyright-text">© 2023 ARTEC - OSCAR PIZARRO TODOS LOS DERECHOS RESERVADOS.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>