<div class="header" id="header">
  <div class="top-bar">
    <div class="logo">
      <img src="assets/logo/logo.png" alt="Logo">
      <span class="page-name">A R T E C</span>
    </div>
    <div class="auth-links">
      <a routerLink="/login" class="auth-link" >Iniciar sesión</a>
      <span>|</span>
      <a href="/registro" class="auth-link">Registrarme</a>
    </div>
  </div>
  <nav class="menu">
    <a routerLink="/">Inicio</a>
    <a href="#nosotros">Nosotros</a>
    <a href="#promocionate">Promocionate</a>
  </nav>
</div>